.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f8d21;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    height: 90px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 180px;
    margin-top: 50px
  }
  
  .navbar-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 28px;
    font: Sans-serif;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }